.main{
    border: 2px solid black;
    width: 95vw;
    height: 95vh;
    display: grid;
    grid-template-rows: 0.5fr 1.5fr 3fr 1fr;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
