.main-display-box{
    /* border: 2px solid black; */
    width: 90%;
    height: 80%;
    border-radius: 50px;
    /* padding: 10px; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    background-color: rgba(255, 255, 255,0);
}
.weathericon{
    filter:drop-shadow(0px 0px 10px rgb(255, 255, 255));
}
.cityname{
    font-size: 3rem;
    font-weight: 600;
}
.currtemp{
    font-size: 1rem;
}
.display_temp{
    /* border: 2px solid black; */
    margin-bottom: 0px;
    font-size:2rem;
}
.centerall{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.currtemp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.small{
    font-size: smaller; 
}
.grey{
    color: rgb(170, 172, 174);
}

@media screen and (max-width: 600px) {
    .display_temp{
        /* border: 2px solid black; */
        margin-bottom: 0px;
        font-size:20px;
        background-color: rgba(255, 255, 255,0);
    }
    .cityname{
        font-size: 1.8rem;
        font-weight: 600;
    }
    .small{
        font-size:5px; 
    }
    .grey{
        color: rgb(184, 184, 184);
        
    }
    .icon img{
        width: 75%;
        height: 75%;
    }
    .main-display-box{
        height: 70%;
    }
}